.overlay {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  pointer-events: none;
}

.comment {
  position: absolute;

  right: -500px;
  top: 100px;

  color: white;
  font-size: clamp(32px, 4vw, 64px);
  font-weight: bold;
  -webkit-text-stroke: 2px black;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);

  white-space: nowrap;

  animation: comment-scroll 8s linear forwards;
}

@keyframes comment-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-2500px);
  }
}
